[submodule "luaort"]
	path = luaort
	url = https://github.com/MrSyabro/luaort.git
[submodule "luapng"]
	path = luapng
	url = https://github.com/MrSyabro/luapng.git
[submodule "cutils"]
	path = cutils
	url = https://github.com/MrSyabro/cutils.git
